.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    position: fixed;
    left: 38%;
    top: 35%;
    z-index: 9;

    width: auto;
    height: auto;

    padding: 1rem;

    background-color: white;

    border: 1px solid black;
    border-radius: 5px;
}

.modal__option{
    display: flex;
}

.modal___info-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__input, .modal___input{
    padding: 0.5rem;

    border: 1px solid gray;
    border-radius: 5px;
}

.modal__buttons, .modal___buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;

    width: 100%;
}

.modal___button, .modal___buttons button{
    background-color: blue;
    color: white;

    border-style: none;
    border-radius: 5px;

    width: 20%;

    padding: 0.5rem;
}

.modal__option{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    border: 1px solid black;
    border-radius: 5px;
}

#modal-columns-options{
    display: none;
}